In [1]:
import pandas as pd
import cenpy as cenpy

/Users/ashleywhite/anaconda3/lib/python3.6/site-packages/pysal/__init__.py:65: VisibleDeprecationWarning: PySAL's API will be changed on 2018-12-31. The last release made with this API is version 1.14.4. A preview of the next API version is provided in the `pysal` 2.0 prelease candidate. The API changes and a guide on how to change imports is provided at https://pysal.org/about
  ), VisibleDeprecationWarning)

In [2]:
# Quaterly Work Indicators (through Q1 2018)
qwi = pd.read_csv('../project-4/data/master_qwi_2003_2018.csv')

qwi.drop(columns = ['Unnamed: 0', 'industry'], inplace= True)

qwi.drop_duplicates(inplace= True)

In [17]:
# Set index to quarterly date time
qwi.index = pd.DatetimeIndex(qwi['time'].values)
g_unit = 'county:*'
g_filter = {'state': '02'}
time = 'from 2003-Q1 to 2018-Q1'

In [5]:
qwi.head()

,EarnBeg,EarnHirAS,EarnHirNS,EarnS,EarnSepS,Emp,EmpEnd,EmpS,EmpSpv,EmpTotal,...,HirA,HirAEnd,HirAEndR,HirAEndRepl,HirAEndReplr,HirAs,Payroll,county,state,time
0,1744.0,NaN,NaN,1744.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,5370,13,2,2003-Q1
1,14499.0,NaN,NaN,16262.0,4647.0,14.0,11.0,11.0,13.0,14.0,...,NaN,0.0,0.000,0.0,0.000,0.0,570042,16,2,2003-Q1
2,1863.0,1455.0,1672.0,2134.0,1966.0,133.0,139.0,103.0,109.0,180.0,...,47.0,36.0,0.265,21.0,0.154,12.0,875806,20,2,2003-Q1
3,4917.0,8740.0,NaN,8740.0,8740.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,89678,50,2,2003-Q1
4,3234.0,NaN,NaN,3234.0,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,NaN,NaN,NaN,NaN,0.0,9955,70,2,2003-Q1

In [6]:
qwi.describe().T

,count,mean,std,min,25%,50%,75%,max
EarnBeg,170035.0,2.720549e+03,7.394044e+02,25.000,2.268000e+03,2.618000e+03,3.036000e+03,5.393000e+04
EarnHirAS,166839.0,1.893552e+03,5.976261e+02,22.000,1.544000e+03,1.812000e+03,2.131000e+03,4.473300e+04
EarnHirNS,166185.0,1.886818e+03,5.696387e+02,20.000,1.547000e+03,1.807000e+03,2.115000e+03,2.394000e+04
EarnS,167152.0,2.935397e+03,7.778226e+02,61.000,2.456000e+03,2.825000e+03,3.269000e+03,6.499900e+04
EarnSepS,164139.0,1.949637e+03,6.778055e+02,18.000,1.587000e+03,1.855000e+03,2.178000e+03,7.596500e+04
Emp,169874.0,4.123076e+04,1.466797e+05,0.000,3.025000e+03,8.044000e+03,2.358700e+04,4.663689e+06
EmpEnd,167158.0,4.145725e+04,1.474310e+05,0.000,3.037000e+03,8.088000e+03,2.376100e+04,4.631813e+06
EmpS,167071.0,3.627508e+04,1.299375e+05,0.000,2.653000e+03,7.046000e+03,2.053550e+04,4.094802e+06
EmpSpv,169786.0,3.618361e+04,1.296225e+05,0.000,2.645000e+03,7.034500e+03,2.048650e+04,4.124234e+06
EmpTotal,169927.0,4.902802e+04,1.733814e+05,5.000,3.600500e+03,9.608000e+03,2.847950e+04,5.532216e+06
FrmJbC,167002.0,2.785812e+02,2.455802e+03,-76871.000,-8.400000e+01,1.800000e+01,2.060000e+02,1.213600e+05
FrmJbCS,166936.0,1.361359e+02,1.859074e+03,-58864.000,-7.600000e+01,1.300000e+01,1.500000e+02,7.979800e+04
FrmJbGn,167002.0,2.234885e+03,7.543540e+03,0.000,1.590000e+02,4.360000e+02,1.359000e+03,2.416530e+05
FrmJbGnS,166936.0,1.647221e+03,5.694172e+03,0.000,1.190000e+02,3.220000e+02,9.830000e+02,2.037470e+05
FrmJbLs,167002.0,1.956304e+03,6.489366e+03,0.000,1.490000e+02,4.050000e+02,1.227000e+03,2.381740e+05
FrmJbLsS,166936.0,1.511084e+03,5.165985e+03,0.000,1.150000e+02,3.090000e+02,9.220000e+02,1.790320e+05
HirA,169874.0,7.762515e+03,2.709910e+04,0.000,5.310000e+02,1.499000e+03,4.685000e+03,9.831680e+05
HirAEnd,167032.0,5.161305e+03,1.775659e+04,0.000,3.560000e+02,9.990000e+02,3.078000e+03,5.940460e+05
HirAEndR,166962.0,1.300138e-01,5.358339e-02,0.000,1.020000e-01,1.210000e-01,1.450000e-01,2.000000e+00
HirAEndRepl,166997.0,2.927435e+03,1.037823e+04,-182.000,1.840000e+02,5.400000e+02,1.711000e+03,3.867400e+05
HirAEndReplr,166959.0,6.767953e-02,1.900526e-02,-0.105,5.500000e-02,6.600000e-02,7.900000e-02,8.570000e-01
HirAs,166891.0,3.396888e+03,1.198872e+04,0.000,2.310000e+02,6.430000e+02,1.966000e+03,4.053900e+05
Payroll,170232.0,4.870488e+08,2.206796e+09,91.000,2.312746e+07,6.662684e+07,2.152220e+08,9.124627e+10
county,170232.0,9.130006e+01,9.334272e+01,1.000,3.300000e+01,7.300000e+01,1.250000e+02,8.400000e+02
state,170232.0,2.873644e+01,1.502660e+01,1.000,1.700000e+01,2.800000e+01,4.000000e+01,5.600000e+01

In [7]:
qwi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 170232 entries, 0 to 4161599
Data columns (total 26 columns):
EarnBeg         170035 non-null float64
EarnHirAS       166839 non-null float64
EarnHirNS       166185 non-null float64
EarnS           167152 non-null float64
EarnSepS        164139 non-null float64
Emp             169874 non-null float64
EmpEnd          167158 non-null float64
EmpS            167071 non-null float64
EmpSpv          169786 non-null float64
EmpTotal        169927 non-null float64
FrmJbC          167002 non-null float64
FrmJbCS         166936 non-null float64
FrmJbGn         167002 non-null float64
FrmJbGnS        166936 non-null float64
FrmJbLs         167002 non-null float64
FrmJbLsS        166936 non-null float64
HirA            169874 non-null float64
HirAEnd         167032 non-null float64
HirAEndR        166962 non-null float64
HirAEndRepl     166997 non-null float64
HirAEndReplr    166959 non-null float64
HirAs           166891 non-null float64
Payroll         170232 non-null int64
county          170232 non-null int64
state           170232 non-null int64
time            170232 non-null object
dtypes: float64(22), int64(3), object(1)
memory usage: 35.1+ MB

In [19]:
state_codes = {
    'WA': '53', 'DE': '10', 'DC': '11', 'WI': '55', 'WV': '54', 'HI': '15',
    'FL': '12', 'WY': '56', 'NJ': '34', 'NM': '35', 'TX': '48',
    'LA': '22', 'NC': '37', 'ND': '38', 'NE': '31', 'TN': '47', 'NY': '36',
    'PA': '42', 'AK': '02', 'NV': '32', 'NH': '33', 'VA': '51', 'CO': '08',
    'CA': '06', 'AL': '01', 'AR': '05', 'VT': '50', 'IL': '17', 'GA': '13',
    'IN': '18', 'IA': '19', 'MA': '25', 'AZ': '04', 'ID': '16', 'CT': '09',
    'ME': '23', 'MD': '24', 'OK': '40', 'OH': '39', 'UT': '49', 'MO': '29',
    'MN': '27', 'MI': '26', 'RI': '44', 'KS': '20', 'MT': '30', 'MS': '28',
    'SC': '45', 'KY': '21', 'OR': '41', 'SD': '46'
}

# Reverse dictionary to map codes to states
state_codes_rev = dict((int(v),k) for k,v in state_codes.items())

qwi['state_abv'] = qwi['state'].map(state_codes_rev)

# Compile county / state codes 

# Create placeholder dataframe
county_codes = cenpy.explorer.fips_table('county', in_state = 'WA')

# Iterate through all states
for k, v in state_codes.items():
    df_1 = cenpy.explorer.fips_table('county', in_state = k)
    
    county_codes = pd.concat([county_codes, df_1])

# Combine county and state codes
county_codes[0] = county_codes[1].astype(str) + ':' + county_codes[2].astype(str)

# Drop and rename columns
county_codes.drop(labels=[1, 2, 4], axis= 1, inplace = True)

county_codes.rename(columns={0: 'code', 3: 'county'}, inplace = True)

# Set index for dictionary
county_codes.set_index(county_codes['code'], inplace = True)

county_codes.drop(labels=['code'], axis= 1, inplace = True)

# Convert dataframe to dict
county_codes_dict = county_codes.to_dict('dict')

county_codes_dict = dict((k,v) for k,v in county_codes_dict['county'].items())

# Combine county and state codes
qwi['county_codes'] = qwi['state'].astype(str) + ':' + qwi['county'].astype(str)

qwi['county_name'] = qwi['county_codes'].astype(str).map(county_codes_dict)

In [26]:
qwi.head()

,EarnBeg,EarnHirAS,EarnHirNS,EarnS,EarnSepS,Emp,EmpEnd,EmpS,EmpSpv,EmpTotal,...,HirAEndRepl,HirAEndReplr,HirAs,Payroll,county,state,time,state_abv,county_codes,county_name
2003-01-01,1744.0,NaN,NaN,1744.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,5370,13,2,2003-Q1,AK,2:13,Aleutians East Borough
2003-01-01,14499.0,NaN,NaN,16262.0,4647.0,14.0,11.0,11.0,13.0,14.0,...,0.0,0.000,0.0,570042,16,2,2003-Q1,AK,2:16,Aleutians West Census Area
2003-01-01,1863.0,1455.0,1672.0,2134.0,1966.0,133.0,139.0,103.0,109.0,180.0,...,21.0,0.154,12.0,875806,20,2,2003-Q1,AK,2:20,Anchorage Municipality
2003-01-01,4917.0,8740.0,NaN,8740.0,8740.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,89678,50,2,2003-Q1,AK,2:50,Bethel Census Area
2003-01-01,3234.0,NaN,NaN,3234.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,9955,70,2,2003-Q1,AK,2:70,Dillingham Census Area

In [32]:
qwi.to_csv('../project-4/data/master_qwi_2003_2018.csv')